body{margin: 0}

label{
    margin: 15px;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
label > div{
     width: 100%;
     height: 10px;
     background: black;
    transition: .4s ease-in-out;
    border-radius: 5px;
 }
label > div:nth-child(2){
    margin: 10px auto;
}
#hamburger{display: none}
#hamburger:checked ~ label > div {background: darkred}

#hamburger:checked ~ label > div:nth-child(1){
    transform: translateY(20px) scale(1.2) rotate(45deg);
}
#hamburger:checked ~ label > div:nth-child(2){
    transform: scale(0.6);
    opacity: 0;
}
#hamburger:checked ~ label > div:nth-child(3){
    transform: translateY(-20px) scale(1.2) rotate(-45deg);
}

.animated{
    display: inline-block;
    background: white;
    padding: 15px 16.5px;
    width: max-content;
    margin: 15px auto;
    font-size: 130px;
    opacity: 0;
    transform: translateX(500px) scale(0.5);
    transition: ease-in-out 0.8s;
    filter: blur(25px);
}
.right{
    opacity: 1;
    filter: none;
    transform: none;
    transition: ease-in-out 3.8s;
}
.gone{
    transform: scale(3);
    filter: blur(100px);
    opacity: 0;
}
#animationArea{
    padding: 10px;
    margin-left: 0;
    margin-top: 3em;
    overflow: hidden;
    /*width: max-content;*/
    background: lightgray;
}